{% include 'header.twig' %}

<div class="container vert-offset-top-1">
    {% if data is empty %}

        <h2>Images not uploaded yet</h2>
        <p>Use /upload.cgi action for upload image</p>

    {% else %}

        {% for image in data %}
            <a href="{{url}}{{image.md5}}">
                <img class="small-image" src="{{imageUrl}}{{image.md5}}.png" alt="Image {{image.md5}}" title="Image {{image.md5}}" />
            </a>
        {% endfor %}

    {% endif %}
</div>

{% include 'footer.twig' %}